package-lock.json
/node_modules
/src/**/node_modules
# IDEs and editors
/.idea
dist/
.env
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.history/*
/src/templates/*.html
/src/assets/img/*
/src/**/min/*
/src/assets/js/libraries/*
/src/**/cdns/*
/src/cdn.js
